<script setup lang="ts">
const show = ref<boolean>(false);
const confirmDate = (val: string) => {
  console.log(val[0]);
};
</script>
<template>
  <view>
    <u-calendar :show="show" @confirm="confirmDate"></u-calendar>
    <u-button @click="show = true" >打开</u-button>
  </view>
</template>
<style lang="scss" scoped></style>
